<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <title>Vegetable Store Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<body>

<div class="container">
    <h1>Vegetable Store Database System</h1>
    <div class="menu">
        <a href="{{ url_for('customers') }}"><button>Customers</button></a>
        <a href="{{ url_for('products') }}"><button>Products</button></a>
        <a href="{{ url_for('suppliers') }}"><button>Suppliers</button></a>
        <a href="{{ url_for('orders') }}"><button>Orders</button></a>
    </div>
</div>
</body>
</body>
</html>