<!DOCTYPE html>
<html>
<head>
    <title>Remove Customer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
<h1>Remove Customer</h1>
<form method="POST">
<label>Select Customer</label><br><br>
<select name="customer_id">
{% for customer in customers %}
<option value="{{ customer[0] }}">
{{ customer[1] }}
</option>
{% endfor %}
</select>
<br><br>
<button type="submit">Delete Customer</button>
</form>
<br>
<a href="/customers">
<button>Back</button>
</a>
</div>
</body>
</html>