<!DOCTYPE html>
<html>
<head>
<title>Remove Supplier</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
<h1>Remove Supplier</h1>
<form method="POST">
<label>Select Supplier</label><br><br>
<select name="supplier_id">
{% for supplier in suppliers %}
<option value="{{ supplier[0] }}">
    {{ supplier[1] }}
</option>
{% endfor %}
</select>
<br><br>
<button type="submit">Delete Supplier</button>
</form>
<br>
<a href="/suppliers">
<button>Back</button>
</a>
</div>
</body>
</html>