<!DOCTYPE html>
<html>
<head>
<title>Remove Product</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
<h1>Remove Product</h1>
<form method="POST">
<label>Select Product</label><br><br>
<select name="product_id">
{% for product in products %}
<option value="{{ product[0] }}">
    {{ product[1] }}
</option>
{% endfor %}
</select>
<br><br>
<button type="submit">Delete Product</button>
</form>
<br>
<a href="/products">
<button>Back</button>
</a>
</div>
</body>
</html>