<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <title>Suppliers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <h1>Suppliers</h1>
    <a href="{{ url_for('add_supplier') }}">
        <button>Add Supplier</button>
    </a>
    <a href="{{ url_for('edit_supplier') }}">
        <button>Edit Supplier</button>
    </a>
    <a href="{{ url_for('remove_supplier') }}">
        <button>Remove Supplier</button>
    </a>
    <br><br>
    <a href="/">
        <button>Back</button>
    </a>
<form method="GET">
    <select name="sort_by">
        <option value="Company_Name">Company Name</option>
        <option value="Email">Email</option>
    </select>
    <select name="order">
        <option value="ASC">Ascending</option>
        <option value="DESC">Descending</option>
    </select>
    <button type="submit">Sort</button>
</form>
{% for o in suppliers %}
    <p>{{ o[1] }} - {{ o[2] }}</p>
{% endfor %}
    <a href="/">
        <button>Back</button>
    </a>
</div>
</body>
</html>